.jumbotron{
    
     background-color: #19bef0; 
     margin-bottom: 0px;


}
/* .name{
    
    color: #faf2f2; */
    

/* .symbol{ */
    /* position: absolute; */
     

/* } */
.bg-secondary{
    font-size: large;
    /* padding-bottom: 100px; */
    
}

nav{
    text-align: center;
}


a{
    margin-right: 15px;
}
.line{
  background-color: #19bef0; 
  height: 5px; 
  
}
.info{
    font-size: 20px;
}
.buttonS{
    background-color: cornflowerblue;
    margin-top: 10px;
}





#bottom{
    padding-bottom: 60px;
    margin-bottom: 0px;
}

#FirstBox{
    padding-right: 0;
    padding-left: 0;
}




